body {
    background: #ddd;
}

.view {
    /* min-height: calc(100vh); */
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.logo_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url('../../assets/svg/logo.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 70%;
    height: 150px;
    margin: 0;
    padding-top: 20px;
    width: 250px;
}

.container {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 10px;
    transition: all 1s ease;
    padding-top: 20px;
}

.btn_container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.category_container {
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

.hidden {
    transform: translateX(-200%);
}

.btn_home {
    min-width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: #661004;
    padding: 14px 7px 12px;
    text-transform: uppercase;
    color: #ffffff;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 1px 6px 11px 1px rgb(0 0 0 / 70%);
    transition: box-shadow 0.3s ease;
}

.btn_home:hover {
    box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 70%);
}

.footer {
    width: 100%;
    padding: 10px;
}
.footer_container {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.github {
    text-decoration: none;
    font-size: 16px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.rss {
    display: block;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    width: 86px;
    height: 32px;
    background-image: url('../../assets/svg/rs_school_js.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-right: 111px;
    filter: hue-rotate(177deg) saturate(100%);
}
.rss_year {
    font-size: 24px;
    letter-spacing: -2px;
    color: black;
    line-height: 0.9;
    font-weight: bold;
    transition: 0.3s;
}
